ul.menu li {
    display: inline;
}

.right-menu {
    float: right;
}

.cont {
    width: 80%;
    margin: auto;
}

body {
    background: url(/resources/images/cash-coins-currency-40140.jpg) no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}